@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Lexend+Giga:wght@100..900&family=Outfit:wght@100..900&display=swap');
body {
  margin: 0;
  background-color: rgb(23, 2, 37);
  overflow-x: hidden;
}
*{
  font-family: "Outfit",serif;
}

a{
  color: #000000;
  text-decoration: none;
}
ul{
  list-style-type: none;
}